--extra-index-url https://download.pytorch.org/whl/cpu

# Core Web App & Data Handling
streamlit
pandas

# File Parsing
PyMuPDF
python-docx

# NLP & Semantic Analysis
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz#egg=en_core_web_sm
sentence-transformers
torch
transformers

# Generative AI
google-generativeai

# Other necessary dependencies
numpy
requests
Pillow
protobuf
