# Core Web App & Data Handling
streamlit
pandas

# File Parsing
PyMuPDF
python-docx

# NLP & Semantic Analysis
spacy
en_core_web_sm
sentence-transformers
torch
transformers

# Generative AI
google-generativeai

# Other necessary dependencies
numpy
requests
Pillow
protobuf
