# Core Web App & Data Handling
# requirements.txt

streamlit
pandas
spacy==3.7.5



# File Parsing
PyMuPDF
python-docx

# NLP & Semantic Analysis
spacy
sentence-transformers
torch
transformers

# Generative AI
google-generativeai

# Other necessary dependencies (pip freeze will include specific versions)
numpy
requests
Pillow
protobuf
